
// where to set the code color
@use 'pygments/zenburn.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');


:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 50rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-5xl: 68rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-primary: Chicago;
  --fontFamily-secondary: 'Courier New', monospace;
  // --fontFamily-secondary: 'Roboto', sans-serif; 
  --font-body: var(--fontFamily-secondary);
  --font-heading: var(--fontFamily-primary);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #005b99;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-link: #005b99;
  --color-line: black;

  --color-text: #2e353f;
  --color-text-light: #4f5969;


  --app-height: 557px;
  --primary: #f9efe4;
  --secondary: #f9efe4;
  --tertiary: #c2b9b1;
  --color-background: #f9efe4;
  --radius-normal: 7px;

  --color-shadow: #c2b9b1;


}

html {
	scroll-behavior: smooth;
}

body,
html {
  font-family: var(--font-body);
  line-height: var(--lineHeight-relaxed);
}

nav {
  a {
    color: inherit;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
}

h1,h2,h3,h4,h5 {
  font-family: var(--font-heading);
}

.dark {
  --color-background: rgb(21,30,41);
  --color-text: white;
  --color-text-light: rgb(122, 139, 166);
  --color-line: var(--color-text-light);
  --color-primary-700: rgb(52,70,99);
  --color-shadow: rgb(67, 79, 98);
  --color-link: #a9cef9;
}

.dark {
  --color-background: #1a202c;
  --color-text: white;
  --color-text-light: #c5c5c5;
  --color-line: var(--color-text-light);
  --color-primary-700: rgb(52,70,99);
  --color-shadow: rgb(67, 79, 98);
  --color-link: #81e6d9;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  background: var(--color-background); 
  color: var(--color-text);
}


.global-wrapper {
  max-width: var(--maxWidth-3xl);
  width: 100%;
  background-color: inherit;
  padding: 0em 2em;
  cursor:default;
}

.outer-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-line);
}


nav {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--maxWidth-5xl);
  background-color: inherit;
  margin: var(--spacing-1) var(--spacing-5);
  font-family: var(--fontFamily-primary);

  .logo {
    margin: 0;
  }
}

nav > * {
  margin: 0;
  padding: 0;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
}

nav > ul > li {
  margin-left: 1em;
  font-size: var(--fontSize-2);
}

.blog-post {
  --fontFamily-primary: var(--fontFamily-primary);
  --fontFamily-secondary: var(--fontFamily-secondary);
}

.body-link {
  color: var(--color-link);
}

.research-link {
  list-style:decimal;
  margin-left: 3ch;
}

.window {
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 0 0 var(--color-shadow), 5px 5px 0 rgba(0,0,0,.2);
  // box-shadow:  -1px -1px 0 0 var(--tertiary),inset 1px 1px 0 0 #fff,5px 5px 0 rgba(0,0,0,.2);
  border: 1px solid var(--color-line);
  margin: 2em 0em;
}

.window-bar-button {
  width: 15px;
  margin: 3px 5px 0px 5px;
  border: 1px solid var(--color-line);
}

.window-bar {
  display: flex;
  height: 15px;
  width: 100%;
}

.window-bar-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.window-bar-middle > hr {
  margin: 0;
  padding: 1.5px;
  border: none;
  border-bottom: 1px solid var(--color-line);
}

.window-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
  width: calc(100% - 10px);
  border: 1px solid var(--color-line);
  padding: 1em;
  background-color: inherit;
}


.window {
.card-title-text {
    padding-bottom: var(--spacing-2);
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .card-title {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-left: 2em;
  }

  .card-title-text h1, h2, h3{
    padding: 0;
    margin: 0;
  }

  .card-title-date {
    color: var(--color-text-light);
  }

  .card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .card-body-list {
    padding-inline-start: 0;
    list-style: square;
    line-height: var(--lineHeight-normal);
    list-style-position: outside;
  }

  .card-body>ul>li {
    margin-top: var(--spacing-1);
    margin-left: 2ch;
  }
}

.skill-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: var(--maxWidth-4xl);
  padding-top: 3rem;
  padding-bottom: 1rem;
  gap: var(--spacing-8)
}

.computer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.computer-icon > p {
  margin: var(--spacing-2);
  font-family: var(--fontFamily-primary);
  padding: 0;
  text-align: center;
  max-width: 10ch;
}

ul {
  display: grid;
  gap: var(--spacing-2);
}

.blog-post {
  .blog-post-info {
    margin: 0;
    margin-bottom: 2rem;
  }
  .blog-post-title {
    margin: 0;
    margin-top: 2rem;
  }
}

button.jupyter-code-toggle {
  background-color: var(--color-primary-700);
  color: var(--color-text);
  text-transform: none;
  padding: .3rem;
  border: 1px double black;
  border-radius: 5px;
  background-color: inherit;
  box-shadow: 1px 1px 0 0 var(--color-shadow);
  margin-top: 3rem;
  position: relative;
  bottom: 0;
  right: 0;
}


.blog-post {
  h1,h2,h3,h4,h5,h6,p,small{
    line-height: 2rem;
  }

}

.blog-page {

  h2 a {
    color: var(--color-text);
  }
  h2 {
    margin-bottom: var(--spacing-0);
  }
  h2 > small {
    margin-bottom: 10rem;
  }
  li {
    margin-bottom: 3rem;
  }

  h1,h2,h3,h4,h5,h6,p,small{
    line-height: 2rem;
  }

  hr {
    border-bottom: .2px solid black;
  }

  p {
    margin: 0;
  }

  article {
    margin: 2.5rem 0;
  }

}


.hide-code-button {
  width: 50px;
}

.copy-code-button {
  width: 50px;
}

.copySvg {
  width: 30px !important;
  height: auto;
}

.jupyter {

  .cell.input + .cell.input {
    background-color: red;
  }


  img, svg {
    width: clamp(20rem, 45rem, 100%);
    height: auto;
  }

  .anchor-link {
    display: none;
  }
  .cell {
    margin: 1.5rem 0;
  }
  .input {
    pre {
      margin:  1rem 0;
      padding: .5rem;
      border-radius: var(--radius-normal);
      overflow-x: scroll;
      overflow-y:hidden;
    }
    .prompt {
      display: none;
    }
  }
}

pre[class*=language-] {
  border-radius: var(--radius-normal);
}

.forhire {
  margin-top: .5rem;
  background-color: #FDE9A2;
  border-radius: var(--radius-normal);
  border: 1px solid #b59b3e;
  text-align: center;
  padding: .5rem;
  width: calc(100vw - 1rem)
}

.ctg {
  --color-cta-bg: #FFAAD3;
  --color-cta-text: #760039;

  font-family: var(--font-heading);
  font-size: var(--fontSize-1);

  background-color: var(--color-cta-bg);
  padding: var(--spacing-0) var(--spacing-2);
  border-radius: 30rem;
  border: 2px solid var(--color-cta-text);

  a {
    color: var(--color-cta-text);
  }

  ::before {
    content: "";
    margin-right: 0.25rem;
  }

 
}

 .ctg:hover {
    // filter: brightness(120%);
  }


.dot-card {
    --color-accent: var(--color-line);
    display: flex;
    margin: var(--spacing-4);
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-accent);
    border-radius: 3px;
    background-size: 5px 5px;
    background-image: radial-gradient(circle at top left,var(--color-accent) 0 13%,transparent 10%),radial-gradient(circle at top right,var(--color-accent) 0 13%,transparent 10%),radial-gradient(circle at bottom left,var(--color-accent) 0 13%,transparent 10%),radial-gradient(circle at bottom right,var(--color-accent) 0 13%,transparent 10%),radial-gradient(var(--color-accent) 0 26%,transparent 20%);

  .dot-card-inside {
    --internal-margin: 1rem;
    margin: 1rem;
    height: calc(100% - (var(--internal-margin) * 2));
    width: 100%;
    padding: .5rem;
    background-color: var(--color-background);
  }
}


.blog-post-wrapper {
  display: flex;
  flex-direction: row;
}

.blog-post {
  max-width: 100%;
  flex-basis: 5;
}



.card-bodyblo {
  background-color: linear-gradient(90deg, #FFAAD3, #FF9D7A, #FFDE69, #A4E8A3, #8AE6FB, #E2D4FF);
}


.toc {
  position: sticky;
	top: 2rem;
	align-self: flex-start;
}
